.mainTitle {
    background-color: #343a40;
    color: tan;
    text-align: center;
    padding: 20px;
    width: 60%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: "Germania One", cursive;
}

.winBox, .chanceBox, .lossBox, .guessedBox {
    padding: 5px;    
    background-color: tan;
    margin-top: 5px;
    font-family: "Crushed", cursive;

}

.wordBox {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    background-color: tan;
    padding: 10px;
    font-family: "Crushed", cursive;
}

.startButton {
    margin-left: 37%;
    margin-right: 37%;
    width: 26%;
    margin-top: 5px;
    font-family: "Crushed", cursive;
}

.pressKey {
    text-align: center;
    font-family: "Crushed", cursive;
    
}

.blanks {
    height: 40px;
}